registry=https://registry.npmjs.org/
always-auth=false
# No phantom dependencies allowed in this repository
hoist=false
hoist-pattern=
public-hoist-pattern=
# Turn off the auto-install-peers as it is on by default in pnpm@8x
auto-install-peers=false
